span{
    font-style: italic;
}

 .list-container{
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 15px;
 }
 .list-container>p{
    text-align: center;
    font-weight: bold;
 }
/*  img{
    float: right;
 } */
  .img-container{
    float: right;
  }